:root {
    --colorPrimary: #00456a;
    --colorSecondary: #022d44;
    --opacityPrimary: rgba(0, 69, 106, 0.4);
    --opacityBlack68: rgba(0, 0, 0, 0.68);
    --shade1: #f0f8ff;
    --shade2: #88ccf0;
    --shade3: #3e93c0;

    --warning: #ca1a1a;

    --white: #ffffff;
    --black: #000000;

    --fontPrimary: 'Jost', sans-serif;
}

body {
    margin: 0;
    font-family: var(--fontPrimary);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    background: var(--colorSecondary);
    color: var(--white);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
